.body {
    display:flex;
    flex-direction: column;
    align-items: center;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container__main {
width: 600px;
}

.header {
    width: auto;
    height: 170px;
    align-items: center;
    flex-direction: column;
}

.banner {
    width: auto;
    height: 40px;
    font-size: 83px;
    font-weight: 600;
    color: aquamarine;
    text-align: center;
    align-items: center;
}

.footer {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ffffff;    
    box-shadow: 0 2px 5px rgba(108, 108, 108, 0.1);
    border-top:  1px  solid rgb(246, 246, 246);
}

.input__space {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input__add {
    box-sizing: border-box;
    width: 85% ;
    padding: 10px;
    border: none;
    background-color: transparent ;
    color: #737373;
    font-size: 26px;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
    font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
    line-height: 1.4em;
}

.input__add::placeholder{
    color:#ccc;
    font-style: italic;
}

.check__all {
    color: #000000;
    font-size: 24px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent ;
    transition: background .3s;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.check__all_active {
    color: #000000;
}

.check__all:hover {
    overflow: hidden;
    transform: scale(1.15);
    transition: transform 0.4s;
    color:#5678fe;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
}



.task__list {
    margin: 0;
    padding: 0;
}

.task {
    display: flex;
    overflow: hidden;
    width: auto;
    height: 70px;
    font-weight: 600;
    background-size:contain;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffffff;    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top:  1px  solid rgb(241, 241, 241);
}

.task__text {
    height: 70px;
    margin-left: 15px;
    width: 75%;
    word-break: break-word;
    overflow: hidden;
    font-weight: 600;
    font-size: 23px;
    color: #737373;
    justify-content: left;
    align-items: center;
    display: flex;
}

.input__task__change {
    background-color: transparent;
    width: 75%;
    height: 70px;
    word-break: break-word;
    font-weight: 600;
    font-size: 23px;
    color: #737373;
}

.complete__switch {
    margin-left: 10px;
    position: absolute;
    left: 0;
    height: 35px;
    width: 35px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-radius: 50%;
}

.complete__switch:hover {
    border: 2px solid aquamarine;
    background-color: #ffffff;
}

.switch__active {
    border: 2px solid aquamarine;
    background-image: url("/ToDo/img/pngegg.png");
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.3s ease; 
}

.button__delete {
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    color: #ffffff;
    background: transparent;
    border: none;
    transition: background .3s;
}

.task__text:hover + .button__delete {
    color: #5d1a1a;  
    transform: scale(1.3);
    transition: transform 0.4s;
    overflow: hidden;
}

.button__delete:hover {
    color: #5d1a1a;
    transform: scale(1.3);
    transition: transform 0.4s;
    overflow: hidden;
}

.button__filter {
    margin: 5px;
    width: auto;
    height: 30px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    cursor: pointer;
    box-shadow: 14px black;
    color: #9299ff;
    background-image: none;
    background: transparent;
    transition: background .3s;
    border: none;
}

.button__filter:hover {
    border: 2px solid rgb(101, 252, 207);
    overflow: hidden;
    transform: scale(1.02);
    transition: transform 0.1s;
    color:#5678fe;
}

.filter__active {
    background-color: #fffafa;
    border: 2px solid rgb(101, 252, 207);
}


.active {
    background-color: #c2ffe2;
    overflow: hidden;
    transition: transform 0.4s;
    color:#5678fe;
  }

.button__clear__completed {
    margin-left: 10px;
    height: 30px;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
    color: #9299ff;
    background-image: none;
    background: transparent;
    border: none;
}

.button__clear__completed:hover {
    overflow: hidden;
    transform: scale(1.02);
    transition: transform 0.1s;
    color:#5678fe;
    text-decoration: underline;
    backface-visibility: hidden;
}

.task__count {
    font-size: 13px;
    color: #9299ff;
}






